.details-table {
    width: 90%;
    margin: 20px auto;
    text-align: left;
    border-collapse: collapse;
    wrap-option: wrap;
    background: rgba(221, 221, 221, 0.51);
    color: black;
    border-radius: 20px;
    overflow: hidden;
}

.details-table td, .details-table th {
    padding: 10px;
    font-size: 3rem;
    height: 110px;

}

.details-table td:last-child, .details-table th:last-child {
    border-right: none;
    background: rgba(255, 255, 255, 0.68);
}
.details-table td:first-child {
    border-right: 2px solid black; /* Adjust thickness and color as needed */
}

.details-table tr:nth-child(1) {
    background-color: green;
}

.details-table tr:nth-child(2) {
    background-color: greenyellow;
}

.details-table tr:nth-child(3) {
    background-color: yellow;
}

.details-table tr:nth-child(4) {
    background-color: orange;
}

.details-table tr:nth-child(5) {
    background-color: red;
}