.App {
  min-height: 100vh;
  background-image: url("background.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  color: white;
}


.search-bar-container{
  padding-top: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  min-width: 200px;
}